body {
	font: 14px sans-serif;
	text-align: center;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: red;
	color: white;
	text-align: center;
}

table {
	width: 90%;
	font: 17px Calibri;
}

table,
th,
td {
	border: solid 1px #DDD;
	border-collapse: collapse;
	padding: 2px 3px;
}

.button {
	padding: 10px;
	margin: 10px;
	font-size: 15px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	background-color: #4CAF50;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}

.button:hover {
	background-color: #3e8e41
}

.button:active {
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

#myTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  /* width: 100%; */
}

#myTable td, #myTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#myTable tr:nth-child(even){background-color: #f2f2f2;}

#myTable tr:hover {background-color: #ddd;}

#myTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
#myTable2 {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  /* width: 100%; */
}

#myTable2 td, #myTable2 th {
  border: 1px solid #ddd;
  padding: 8px;
}

#myTable2 tr:nth-child(even){background-color: #f2f2f2;}

#myTable2 tr:hover {background-color: #ddd;}

#myTable2 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.ArticleCopy{
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  width: 30%;
  margin:0 auto;
  /* border: 1px solid #ddd; */
  padding: 3rem;
}
.ArticleCopy p {
    text-rendering: optimizeLegibility;
}
.ArticleCopy blockquote {
    border-radius: 3px;
    position: relative;  /*  <--- */
    font-style: italic;
    text-align: center;
    padding: 1rem 1.2rem;
    width: 80%;  /* create space for the quotes */
    color: #4a4a4a;
    margin: 1rem auto 2rem;
    color: #4a4a4a;
    background: #E8E8E8;
}
/* -- create the quotation marks -- */
.ArticleCopy blockquote:before,
.ArticleCopy blockquote:after{
    font-family: FontAwesome;
    position: absolute;
    /* -- inside the relative position of blockquote -- */
    top: 13px;
    color: #E8E8E8;
    font-size: 34px;
}
.ArticleCopy blockquote:before{
    content: "\f10d";
    margin-right: 13px;
    right: 100%;
}
.ArticleCopy blockquote:after{
    content: "\f10e";
    margin-left: 13px;
    left: 100%;  
}
